[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "~=2.9"
flask-ml = "0.0.8"

[dev-packages]
black = "~=24.8"
mypy = "~=1.11"
flake8 = "~=7.1"
isort = "~=5.13"

[requires]
python_version = "3.11"
